section{
    display: flex;
    flex-direction: column;
    background-color:antiquewhite;
}
nav{
    color: aliceblue;
    
    display:flex;
    gap:2em;
    /*gap: 10em;em,vh,vw,px,*/
}

h1{
    color:rgb(217, 84, 106);
  }

.me{
border-radius: 10px;
align-items: center;
display: block;
width: 25%;
margin: center;
}
header{
    background-color: rgb(46, 46, 46);
}
footer{
    background-color: rgb(46, 46, 46);
}
.me:hover{
    scale:3;
    cursor: pointer;
}

.positive{
    background-color:skyblue;
}

.negative{
    background-color:lightblue;
}